*-stamp
*.a
*.cache
*.gz
*.la
*.lo
*.log
*.o
*.so
*.status
*.sw?
*.tab
*.trs
*~
.*.sw?
.deps
.dirstamp
.libs
/Makefile
/Makefile.in
/aclocal.m4
/ar-lib
/compile
/config.h
/configure
/depcomp
/example
/install-sh
/missing
core
core.*
